.sort {
    &__button-sort {
        width: 171px;
        height: 35px;
        background-color: rgb(242, 221, 198);
        border: none;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        margin: auto 10px 10px;
    
        &:hover {
            cursor: pointer;
            background-color: rgb(255, 179, 102);
        }
    }
}
