.cart {
    text-align: right;
    margin: 10px auto;
    
    & > span {
        display: block;
        margin-top: 5px;
    }
}

.modal-button {
    width: 60px;
    height: 35px;
    margin-left: 93%;
    outline: none;
    background-color: rgb(242, 221, 198);
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 179, 102);
    }
}